{% extends 'mainApp/layout.html' %}

{% block content %}

{% load crispy_forms_tags %}


{% if not user.is_authenticated %}

<section class="hero d-flex justify-content-center align-items-center">
	<div class="container d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-bold">Application Todo</h1>
		<p class="fs-5">Inscrivez-vous ou connectez-vous pour créer et consulter vos tâches</p>

		<div>
			<a href="{% url 'login' %}" class="btn btn-lg btn-primary fw-bold">Connexion</a>
			<a href="{% url 'sign-up-view' %}" class="btn btn-lg btn-success fw-bold">Inscription</a>
		</div>
	</div>
</section>

{% else %}

<section class="hero-less d-flex justify-content-center align-items-center">
	<div class="container d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-bold">Bienvenue {{ user.username|title }}</h1>
		<p class="fs-5">Ajouter une nouvelle Catégorie</p>
	</div>
</section>

<section class="todos py-4">
	<div class="container px-5">

	<form method="post">
		{% csrf_token %}

		{{ form|crispy }}

		<input type="submit" value="Ajouter" class="btn btn-success">
	</form>

	</div>
</section>

{% endif %}

{% endblock %}