<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home-view' %}">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll ms-auto" style="--bs-scroll-height: 150px;">
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'sign-up-view' %}">S'inscrire</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
          </li>
        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks-view' %}">Liste des Tâches</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
          </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>